<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            Welcome on our platform!
            Sorry, bun now we haven't free position right now, please wait, we'll send email for you
        </td>
    </tr>
</table>