<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            Welcome on our platform!
            We have some position for you.
            Click the link:
            {{{allPositions}}}
        </td>
    </tr>
</table>